@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  transition: all 0.5s ease;
}
.body{
background: blanchedalmond;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    background: #261A07;
    font-family: 'Ubuntu',sans-serif;
    padding: 10px;
    transition: all 0.3s ease;
    z-index: 999;
}
.navbar.sticky{
    padding: 0px 0;
    
    background: #009999;
}
.navbar .logo a {
    font-weight: 700;
    font-size: 35px;
    color: bisque;
}
.navbar .logo1 {
  transition: all 1s ease;
}
.logo1.disp {
  opacity: 0;
}
.navbar .menu{
    margin-left: auto; 
    margin-right: 0;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;    
}
.navbar .menu li a:hover{
    color: #FFCC33;
}
.navbar .menu li a{
    color: blanchedalmond;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-width{
    max-width: 100%;
    padding: 0 80px;
    margin: auto;
    
}

/* Home Section Styling */
.home{
    display: flex;
    background: url("Images/nood.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    

    font-family: 'Ubuntu',sans-serif;
    
}
.home .home-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-top: 115vh;
    width: 100%;
    background-color: #261A07;
    height: 75vh;
    min-height: 700px;
    font-family: 'Ubuntu',sans-serif;
    overflow: hidden;
}
.featuredwrapper{
  position: absolute;
  margin-top: 100vh;
  align-items: center;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: auto;
  width: 100%;
  min-height: 15VH;
  background-image: url("Images/board.jpg") ;
  background-size: cover;
  
  background-position: center center;
  border-style: outset;
  border-color: rgb(0, 0, 0);
}
.featuredrecipes{
  
  
  background-color: #261A07;
  font: bold 75px 'Ubuntu', sans-serif;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.836);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  
}
.home2{
    background-color:  blanchedalmond;
    height: 100vh;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
    background: url("Images/wood.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.home .max-width {
    height: 5vh;
    margin-left: 0px;
    margin-right: auto;
    padding-left: 20vw;
    padding-right: 20vw;
    background: rgba(75, 75, 75, 0);
    padding-top: 45vh;
    padding-bottom: 55vh; 
    min-height: 700px;
}
.home .home-content .button1{
    color: black;
}
.home .home-content{
    height: 10vh;
}
.home .home-content .text-1 {
    font-weight: 600;
    font-size: 40px;
    max-width: 200px;
    
    color: blanchedalmond;
    padding-bottom: 50px;
}
.home .home-content .text-1 span{
    
    color: #FFCC33;
    
}


.clearfix {
  clear: both;
}
/* button */

#btn {
    background: blanchedalmond;
    height: 50px;
    max-width: 150px;
    border: none;
    
    color: #B35D24;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Ubuntu',sans-serif;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }
  
  #btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  #btn:hover {
    background: transparent;
  }
  
  #btn:hover #circle {
    height: 30px;
    width: 150px;
    
    margin-top: 20px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }

  /* Recipe Card */
 
#container {
  width: 30%;
  max-width: 400px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0vh auto 0 auto;
  top: 50%;
  min-width: 400px;
  transform: translate(0%, 0%);
}

#container.closed header { cursor: pointer; }
header { cursor: pointer; }

.header {
  width: 100%;
  height: 250px;
  background: center / cover;
  background-image: url(https://3.bp.blogspot.com/-v7vHC8w2AKs/TbbD-X8BhTI/AAAAAAAAAJ4/LCcrwIaMgf0/s1600/Mint+Julep+glass+tools.jpg);
}

.title {
  position: relative;
  z-index: 1;
  font-size: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 0px;
}

#container.closed .title {
  padding: 40px 20px 10px 20px;
  margin-top: -87px;
  color: white;
  border: none;
}

.title:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  opacity: 0;
}

#container.closed .title:before {
  opacity: 1;
}

article {
  padding: 25px 30px;
  overflow: hidden;
  max-height: 400px;
} 

#container.closed article {
  max-height: 0px;
  padding: 0 30px;
}

.ingredients {
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  padding-left: 4px;
  font-size: 0.9rem;
}

.ingredients > li {
  list-style-type: none;
  display: flex;
  margin: 4px 0px;
}

.ingredients > li > .amount {
  width: 80px;
  color: #1976D2;
}

.preperation > div {
  margin-bottom: 10px;
}







/* card 2 */
#container2 {
  width: 30%;
  max-width: 400px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0vh auto 0 auto;
  top: 50%;
  min-width: 400px;
  transform: translate(0%, 0%);
}

#container2.closed2 header { cursor: pointer; }
header { cursor: pointer; }

.header2 {
  width: 100%;
  height: 250px;
  background: center / cover;
  background-image: url(https://3.bp.blogspot.com/-v7vHC8w2AKs/TbbD-X8BhTI/AAAAAAAAAJ4/LCcrwIaMgf0/s1600/Mint+Julep+glass+tools.jpg);
}

.title2 {
  position: relative;
  z-index: 1;
  font-size: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 0px;
}

#container2.closed2 .title2 {
  padding: 40px 20px 10px 20px;
  margin-top: -87px;
  color: white;
  border: none;
}

.title2:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  opacity: 0;
}

#container2.closed2 .title:before {
  opacity: 1;
}

article {
  padding: 25px 30px;
  overflow: hidden;
  max-height: 400px;
} 

#container2.closed2 article {
  max-height: 0px;
  padding: 0 30px;
}

.ingredients2 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  padding-left: 4px;
  font-size: 0.9rem;
}

.ingredients2 > li {
  list-style-type: none;
  display: flex;
  margin: 4px 0px;
}

.ingredients2 > li > .amount2 {
  width: 80px;
  color: #1976D2;
}

.preperation2 > div {
  margin-bottom: 10px;
}

/* card 3 */

#container3 {
  width: 30%;
  max-width: 400px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0vh auto 0 auto;
  top: 50%;
  min-width: 400px;
  transform: translate(0%, 0%);
}

#container3.closed3 header { cursor: pointer; }
header { cursor: pointer; }

.header3 {
  width: 100%;
  height: 250px;
  background: center / cover;
  background-image: url(https://3.bp.blogspot.com/-v7vHC8w2AKs/TbbD-X8BhTI/AAAAAAAAAJ4/LCcrwIaMgf0/s1600/Mint+Julep+glass+tools.jpg);
}

.title3 {
  position: relative;
  z-index: 1;
  font-size: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 0px;
}

#container3.closed3 .title3 {
  padding: 40px 20px 10px 20px;
  margin-top: -87px;
  color: white;
  border: none;
}

.title3:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  opacity: 0;
}

#container3.closed3 .title:before {
  opacity: 1;
}

article {
  padding: 25px 30px;
  overflow: hidden;
  max-height: 400px;
} 

#container3.closed3 article {
  max-height: 0px;
  padding: 0 30px;
}

.ingredients3 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  padding-left: 4px;
  font-size: 0.9rem;
}

.ingredients3 > li {
  list-style-type: none;
  display: flex;
  margin: 4px 0px;
}

.ingredients3 > li > .amount3 {
  width: 80px;
  color: #1976D2;
}

.preperation3 > div {
  margin-bottom: 10px;
}



  /* Recipes Page */

  .home2 .featured {
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 50px;
}
  
.home2 .category {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    max-height: 100vh;
}
.home2 .category .vegetarian {
    padding: inherit;
    height: 300px;
    width: 445px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px black;
    background: url('images/veg2.jpg');
    background-size: cover;
    border: 3px outset;
    border-radius: 5px;
}


.home2 .category .pasta {
    padding: inherit;
    height: 300px;
    width: 445px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px black;
    background: url('images/pasta.jpg');
    background-size: cover;
    border: 3px outset;
    border-radius: 5px;
}

.home2 .category .asian {
    padding: inherit;
    height: 300px;
    width: 445px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px black;
    text-align: center;
    background: url('images/dimsum.jpg');
    background-size: cover;
    border: 3px outset;
    border-radius: 5px;
}

.home2 .category .dessert {
    padding: inherit;
    height: 300px;
    width: 445px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px black;
    text-align: center;
    background: url('images/GoodDesserts.png');
    background-size: cover;
    border: 3px outset;
    border-radius: 5px;
}

.home2 .category .soup {
    padding: inherit;
    height: 300px;
    width: 445px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px black;
    text-align: center;
    background: url('images/soup.jpg');
    background-size: cover;
    border: 3px outset;
    border-radius: 5px;
}

.home2 .category .gfree {
    padding: inherit;
    height: 300px;
    width: 445px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px black;
    text-align: center;
    background: url('images/gfree.jpg');
    background-size: cover;
    border: 3px outset;
    border-radius: 5px;
}
/* Diets Page */
.home2 .category .gfree2 {
  padding: inherit;
  height: 300px;
  width: 445px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px black;
  background: url('images/gfree.png');
  background-size: cover;
  border: 3px outset;
  border-radius: 5px;
}


.home2 .category .keto {
  padding: inherit;
  height: 300px;
  width: 445px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px black;
  background: url('images/keto.png');
  background-size: cover;
  border: 3px outset;
  border-radius: 5px;
}

.home2 .category .lowf {
  padding: inherit;
  height: 300px;
  width: 445px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 3px 3px black;
  text-align: center;
  background: url('images/lowfat.png');
  background-size: cover;
  border: 3px outset;
  border-radius: 5px;
}

.home2 .category .mediterranean {
  padding: inherit;
  height: 300px;
  width: 445px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 3px 3px black;
  text-align: center;
  background: url('images/medit.png');
  background-size: cover;
  border: 3px outset;
  border-radius: 5px;
}

.home2 .category .diabetes {
  padding: inherit;
  height: 300px;
  width: 445px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 3px 3px black;
  text-align: center;
  background: url('images/diabete.png');
  background-size: cover;
  border: 3px outset;
  border-radius: 5px;
}

.home2 .category .vegan {
  padding: inherit;
  height: 300px;
  width: 445px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 3px 3px black;
  text-align: center;
  background: url('images/vegan.png');
  background-size: cover;
  border: 3px outset;
  border-radius: 5px;
}
/* recipe page */
.recipe-page-template {
  background: rgba(238, 238, 238, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: auto;
  
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: auto;
  height: 100%;
  min-width: 800px;
  background: blanchedalmond;
  padding-left: 2vw;
  padding-right: 2vw;
}
.videowrapper {
  margin: auto;
  
}
.recipe-title{
  font-size: 50px;
}
.calender{
  width: 50vw;
  padding-top: 200px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  height: 100vh;
}
.wprm-recipe wprm-recipe-natasha{
  display: flex;
  
}
.about {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.534);
  color: #eee;
  width: 30vw;
  margin-left: 0;
  padding-top: 0;
  padding-left: 50px;
  margin-right: auto;
  height: 100%;
  padding-right: 20px;
  justify-content: center;
}
.about-home{
  width: 100vw;
  
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  height: 100vh;
  display: flex;
  background: url("Images/nood.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
    
}
.about-title{
  color: #eee;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
}
