@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    background: #261A07;
    font-family: 'Ubuntu',sans-serif;
    padding: 10px;
    transition: all 0.3s ease;
    z-index: 999;
}
.navbar.sticky{
    padding: 10px 0;
    background: steelblue;
}
.navbar .logo a {
    font-weight: 700;
    font-size: 35px;
    color: bisque;

}
.navbar .menu{
    margin-left: auto; 
    margin-right: 0;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;    
}
.navbar .menu li a:hover{
    color: #FFCC33;
}
.navbar .menu li a{
    color: blanchedalmond;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-width{
    max-width: 100%;
    padding: 0 80px;
    margin: auto;
    
}

/* Home Section Styling */
.home{
    display: flex;
    background: url("Images/nood.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;

    font-family: 'Ubuntu',sans-serif;
    
}
.home .home-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-top: 100vh;
    width: 100%;
    background-color: #261A07;
    height: 100vh;
    min-height: 700px;
    font-family: 'Ubuntu',sans-serif;
}
.home2{
    background-color:  blanchedalmond;
    height: 100vh;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}
.home .max-width {
    height: 5vh;
    margin-left: 0px;
    margin-right: auto;
    padding-left: 20vw;
    padding-right: 20vw;
    background: rgba(75, 75, 75, 0.7);
    padding-top: 45vh;
    padding-bottom: 55vh; 
    min-height: 700px;
}
.home .home-content .button1{
    color: black;
}
.home .home-content{
    height: 10vh;
}
.home .home-content .text-1 {
    font-weight: 600;
    font-size: 40px;
    max-width: 200px;
    
    color: blanchedalmond;
    padding-bottom: 50px;
}
.home .home-content .text-1 span{
    
    color: #FFCC33;
    
}
/* button */

#btn {
    background: #ADC2FF;
    height: 50px;
    max-width: 150px;
    border: none;
    
    color: #FFCC33;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Ubuntu',sans-serif;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }
  
  #btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  #btn:hover {
    background: transparent;
  }
  
  #btn:hover #circle {
    height: 30px;
    width: 150px;
    
    margin-top: 20px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }

  /* Recipe Card */
  .recipe-card {
    
    border:1px solid #f0f1f3;
    width: 300px;
    margin: 50px 0.5vw 50px 0.5vw;
  }
  .recipe-card__body {    
      padding: 20px;
      background-color: blanchedalmond;
  }
  .recipe-card__heading {
    padding: 0;
    margin: 0 0 0;
    color: #444;
  }
  .recipe-card__subhead {
    font-size: 13px;
    color: #555;
    margin-bottom: 30px;
  }
  .recipe-card__ingredients {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    column-count: 1;
  }
  .recipe-card__ingredients li {
      margin-bottom: 5px;
    }
    .recipe-card__ingredients li:before {
      content: '\2022';
      color: #eb9376;
      margin-right: 5px;
    }
  
  
  .recipe-card__nav {
    margin: 0 0 20px;
    padding: 0;
    border-bottom: 1px solid #eb9376;
  }
    .recipe-card__nav li {
      display: inline-block;
      margin-right: 30px
    }
    .recipe-card__nav h3 {
      margin: 0;
      padding: 0;
    }
    .recipe-card__nav h3:after {
      content: '';
      display: block;
      width: 0%;
      padding-top: 10px;
      margin: 0 auto;
      border-bottom: 5px solid #eb9376;
      transition: width 250ms ease-in-out 0s;
    }
    .recipe-card__nav  h3:hover {
      cursor: pointer;
    }
    .recipe-card__nav h3:hover:after, h3.active:after {
     width: 100%; 
    }
  
  
  @media (min-width:599px) {
    .recipe-card {
      width: 600px
    }
    .recipe-card__ingredients {
      column-count: 2
    }
  }

  /* Recipes Page */

  